webds_api==0.4.4
webds_config_editor==0.8.1
webds_config_launcher==0.6.1
webds_connection==0.4.2
webds_data_collection==0.8.1
webds_device_info==0.9.1
webds_doc_launcher==0.7.0
webds_documentation==0.6.0
webds_gear_selection==0.8.1
webds_guided_config==0.8.1
webds_heatmap==0.8.1
webds_integration_duration==0.5.1
webds_launcher==0.8.1
webds_production_tests==0.9.1
webds_readme==0.5.0
webds_reflash==0.4.1
webds_register_map==0.2.1
webds_reprogram==0.4.1
webds_sensor_mapping==0.4.2
webds_service==0.10.0
webds_software_update==0.9.0
webds_status==0.7.0
webds_test_viewer==0.3.1
webds_touch==0.8.1
webds_tutor_initial_setup==0.4.2
