webds_api==0.2.0
webds_connection==0.1.5
webds_device_info==0.2.0
webds_doc_launcher==0.1.4
webds_documentation==0.1.4
webds_gear_selection==0.1.0
webds_heatmap==0.1.6
webds_launcher==0.1.5
webds_production_tests==0.1.2
webds_readme==0.1.3
webds_reprogram==0.1.14
webds_service==0.2.0
webds_software_update==0.1.5
webds_status==0.1.3
webds_touch==0.1.4
